* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  height: 0;
  background: #051544;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #053897;
}

body {
  background-color: #f1f6ff;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.nav-active {
  position: relative;
  font-weight: 600;
}
.nav-active::before {
  content: "";
  position: absolute;
  z-index: 100;
  bottom: 0px;
  left: 50%;
  width: 70%;
  height: 3px;
  border-radius: 10px;
  transform: translateX(-50%);
  background-color: #5a92fa;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
